{% extends "base.html" %} 
{% load static %}


{% block content %}

 <!--The Main Header -->
    
        
 <a href="{% url 'home' %}">
    <h1>Recipe Converter</h1>
 </a>




        <p>The website converts every image or document that contains recipe by any given number.<br>
            if you want to multiply your recipe by 2.5 just put your file and enter number 2.5 and the website will 
        return you a full fixed file ! </p>

  

        <p>Written by <a href="/contact"><i> Dvir Alfi </i></a> . </p>
            
   
    
{% endblock %}

