{% extends "base.html" %} 

{% block content %}

    <h5>Some things about me:</h5>
    <ul>
        <li><p>I've been programming since my youth years, and I've been in a special learning group in my high-school<br> called 'Gvahim', 
        there I was taught by several professional teachers, who working in the industry.</p></li>

        <li><p>I am a reliable Intern, studying programming by myself. <br>seeks an internship opportunity to expand skills and gain valuable 
        real-world experience</p></li>

        <li><p>I love learning new skills and technologies, and passionate about programming and computer technology.</p></li>

    </ul>
    <br>

    <hr>
    
    <h4>Social Links</h4>
    
    <ul>
        <li style="list-style-type:none;"><a href="https://www.facebook.com/nba.dvir/" target="_blank"><img class="logo-images" src="static/mainapp/images/facebook-logo.png" alt="facebook-logo"></a></li>

        <li style="list-style-type:none;"><a href="https://github.com/dviralfi/" target="_blank"><img class="logo-images" src="static/mainapp/images/github-logo.png" alt="github-logo"></a></li>
    </ul>
    
{% endblock %}